.user-page{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    display:flex;
    justify-content: center;
    align-items: center;

    background-image: url('/public/pip-boy-background.png');
    background-repeat: repeat;
    background-size: 100px;

    .user-form{
        height: 80%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 4px solid var(--color);

        h2{
            color: var(--color);
            font-size: 2.5rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        select, input, button{
            margin: 1rem 0;
            padding: 0.5rem;
            font-size: 1.5rem;
            border: 2px solid var(--color);
            background-color: #222;
            color: var(--color);
        }

        .success-message{
            color: #6EF99E;
            font-size: 1.2rem;
            margin-top: 1rem;
        }
    }
}