.App{
    margin: 0;
    padding: 10px;
    padding-inline: 40px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    box-sizing: border-box;
    background-color: var(--background);

    header{

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;

        p{
            color: var(--color);   
            text-align: center;
            font-size: 1em;
        }

        select{
            background-color: transparent;
            border: none;
            font-size: 1em;
            color: var(--color);
            cursor: pointer;

            option{
                text-align: center;
            }
        }

        button{
            background-color: transparent;
            border: 2px solid var(--color);
            color: var(--color);
            cursor: pointer;
            font-size: 1rem;

            &:hover{
                background-color: var(--color);
                color: var(--background);
            }

            &:active{
                background-color: var(--color);
                color: var(--background);
                transform: translateY(1px);
            }
        }


        height: 8%;
        padding-inline: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        border : 5px solid var(--color);
        margin-bottom: 10px;
    }

    .profile-card-container {
        height: 85%;
        display: grid;
        gap: 20px;
    }

    .profile-card {
        height: 100%;
    }

    .profile-card-container.compact-layout {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, minmax(0, 1fr));
    }

    .profile-card-container.wide-layout {
        grid-template-columns: 1fr 1fr;
    }

    .profile-card-item.full-line {
        grid-column: 1 / -1;
    }

}
@media (max-width: 768px) {
    .App {
        header {
            h1,
            p,
            select {
                font-size: 18px;
            }

            .last-change-time {
                display: none;
            }
        }

        .profile-card-container, .profile-card-container.compact-layout, .profile-card-container.wide-layout {
            grid-template-columns: 1fr;
        }
    }
}