.profile-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    border: 5px solid var(--color);
            
            &.teletravail {
                border-color: rgba(110, 249, 158, 0.5);
            }
            &.absent {
                border-color: rgba(110, 249, 158, 0.5);
            }
}

.profile-image {
    width: 25%;
    height: auto;
    object-fit: cover;
    flex-shrink: 0;
    padding: 2.5%;
    border-right: 3px solid var(--color);
    
            
            &.teletravail {
                border-color: rgba(110, 249, 158, 0.5);
            }
            &.absent {
                border-color: rgba(110, 249, 158, 0.5);
            }
}

.profile-details {
    text-align: left;
    height: 70%;
    width: 75%;
    display: flex;
    flex-direction: column;

    .profile-container{
        flex-grow: 1;

        .profile-name {
            font-size: 16px;
            font-weight: 700;
            letter-spacing: 2px;
            color: var(--color);
            padding-bottom: 8px;
            
            &.teletravail {
                color: rgba(110, 249, 158, 0.5);
            }
            &.absent {
                color: rgba(110, 249, 158, 0.5);
            }
        }

        .profile-role {
            font-size: 12px;
            color: var(--color);
            padding-bottom: 2px;
            
            &.teletravail {
                color: rgba(110, 249, 158, 0.5);
            }
            &.absent {
                color: rgba(110, 249, 158, 0.5);
            }
        }

        .profile-picto {
            height: 12px;
            width: 12px;
            
            margin-right: 5px;

            &.teletravail {
                opacity: 0.5;
            }
            &.absent {
                opacity: 0.5;
            }
        }

        .profile-contact {
            display: inline-flex;
            align-items: center;
            color: var(--color);
            
            &.teletravail {
                color: rgba(110, 249, 158, 0.5);
            }
            &.absent {
                color: rgba(110, 249, 158, 0.5);
            }   
        }

        .profile-contact img {
            width: 12px;
            height: 12px;
            vertical-align: middle;
        }
    }
}

.location {
    width: 90%;
    display: flex;
    justify-content: flex-end;
}