.profile-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5%;
    border: 5px solid var(--color);
}

.profile-image {
    width: 25%;
    height: auto;
    object-fit: cover;
    flex-shrink: 0;
    padding: 2.5%;
    border-right: 3px solid var(--color);
}

.profile-details {
    text-align: left;
    height: 70%;
    width: 75%;
    display: flex;
    flex-direction: column;

    .profile-container{
        flex-grow: 1;

        .profile-name {
            font-size: 24px;
            font-weight: 700;
            letter-spacing: 2px;
            color: var(--color);
            padding-bottom: 8px;
        }

        .profile-role {
            font-size: 16px;
            color: var(--color);
            padding-bottom: 2px;
        }

        .profile-picto {
            height: 16px;
            width: 16px;
            filter: invert(75%) sepia(52%) saturate(406%) hue-rotate(84deg) brightness(105%) contrast(95%);
            margin-right: 5px;
        }

        .profile-contact {
            display: inline-flex;
            align-items: center;
            color: var(--color);
        }

        .profile-contact img {
            width: 16px;
            height: 16px;
            vertical-align: middle;
        }
    }
}

.location {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    font-size: 32px;
    color: var(--color);
}