.profile-card {
    margin: 1%;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    border: 4px solid var(--color);
}

.profile-image {
    width: 15%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

.profile-details {
    text-align: left;
    width: 70%;
    display: flex;
    flex-direction: column;
}

.profile-name {
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 0.5rem;
    color: var(--color);
}

.profile-picto {
    height: 16px;
    width: 16px;
    filter: invert(75%) sepia(52%) saturate(406%) hue-rotate(84deg) brightness(105%) contrast(95%);
}

.profile-contact {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0.2rem 0;
    font-size: 0.9rem;
}

.profile-contact a {
    color: var(--color);
    text-decoration: none;
}

.profile-contact img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
}