.location-container {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    border-bottom: 3px solid var(--color);

    &.absent {
        border-color: var(--absent-color);
    }
}

.location-picto {
    width: 20px;
    height: 20px;
}

.location-text {
    font-size: 24px;
    font-weight: 700;
    color: var(--color);

    &.absent {
        color: var(--absent-color);
        }

    &:after {
        position:relative;
        right:0;
        bottom:30px;
        content:'';
        border-bottom: 30px solid var(--color);
        border-left: 8px solid transparent;
    }

    &.absent:after {
        border-bottom-color: var(--absent-color);
    }
}