.location-container {
    display: flex;
    justify-content: flex-end;
    width: 70%;
    border-bottom: 3px solid var(--color);

    &.absent {
        border-color: rgba(110, 249, 158, 0.5);
    }
}

.location-picto {
    width: 20px;
    height: 20px;
    filter: invert(72%) sepia(91%) saturate(2280%) hue-rotate(55deg) brightness(106%) contrast(120%);
}

.location-text {
    font-size: 18px;
    font-weight: 700;
    color: var(--color);

    &.absent {
        color: rgba(110, 249, 158, 0.5);
        }

    &:after {
        position:relative;
        right:0;
        bottom:30px;
        content:'';
        border-bottom: 30px solid var(--color);
        border-left: 8px solid transparent;
    }

    &.absent:after {
        border-bottom-color: rgba(110, 249, 158, 0.5);
    }
}