.location-container {
    display: flex;
    justify-content: flex-end;
    width: 90%;
    border-bottom: 3px solid var(--color);

        &.bureau {
            border-color: var(--bureau-color);
        }
        &.creativ_lab {
            border-color: var(--creativ_lab-color);
        }
        &.indisponible {
            border-color: var(--indisponible-color);
        }
        &.teletravail {
            border-color: var(--teletravail-color);
        }
        &.off {
            border-color: var(--off-color);
        }
        &.inconnu {
            border-color: var(--inconnu-color);
        }
        &.studio_fond_vert {
            border-color: var(--studio-fond-vert-color);
        }
        &.studio_podcast {
            border-color: var(--studio-podcast-color);
        }
}

.location-text {
    font-size: 1.2em;
    font-weight: 700;
    color: var(--color);

    &.bureau {
        color: var(--bureau-color);
    }
    &.creativ_lab {
        color: var(--creativ_lab-color);
    }
    &.indisponible {
        color: var(--indisponible-color);
    }
    &.teletravail {
        color: var(--teletravail-color);
    }
    &.off {
        color: var(--off-color);
    }
    &.inconnu {
        color: var(--inconnu-color);
    }
    &.studio_fond_vert {
        color: var(--studio-fond-vert-color);
    }
    &.studio_podcast {
        color: var(--studio-podcast-color);
    }

    &:after {
        position:relative;
        right:0;
        bottom:30px;
        content:'';
        border-bottom: 30px solid var(--color);
        border-left: 8px solid transparent;
    }

    &.bureau:after {
        border-bottom-color: var(--bureau-color);
    }
    &.creativ_lab:after {
        border-bottom-color: var(--creativ_lab-color);
    }
    &.indisponible:after {
        border-bottom-color: var(--indisponible-color);
    }
    &.teletravail:after {
        border-bottom-color: var(--teletravail-color);
    }
    &.off:after {
        border-bottom-color: var(--off-color);
    }
    &.inconnu:after {
        border-bottom-color: var(--inconnu-color);
    }
    &.studio_fond_vert:after {
        border-bottom-color: var(--studio-fond-vert-color);
    }
    &.studio_podcast:after {
        border-bottom-color: var(--studio-podcast-color);
    }

}

@media only screen and (max-width: 768px) {
    .location-text {
        font-size: 1em;
    }
}